.area-top-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -2%;
  color: #001632;
  
}

.search-button {
  /* width: 400px;  */
  height: 44px;
  border-radius: 6px;
  border: 1px solid #7A8593;
  padding: 11px 24px;
  margin-top: 10px;
  background-color: #FFFFFF;
  color: #7A8593;
  text-align: center;
  margin-bottom: 20px;
}

.payment-status-container {
  width: 1081px;
  height: 64px;
}

.payment-status-container p {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 24px;
  align-items: center;
}

.search-bar {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

input[type="text"] {
  
    width: 100%;
    max-width: 400px;
    height: 44px;
    border-radius: 6px;
    border: 1px solid #ACB3BB;
    background-color: #FFFFFF;
    color: #ACB3BB;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
}

.search-icon1 {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #7A8593;
  margin-left: 30px;
}

.date-time {
  color: #7A8593;
  display: block;
  text-align: right; 
  margin-top: 5px; 
}
@media (max-width: 768px) {
  .payment-status-container {
    max-width: 100%;
  }
  .search-icon1{
    visibility: hidden;
  }
}