.cards-container {
  display: flex;
}

.card {
  width: 120px; /* Adjust width */
  height: 120px; /* Match width to make it square */
  border-radius: 12px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 16px; /* Add margin between cards */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.card:last-child {
  margin-right: 0; /* Remove margin from the last card */
}

.heading {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -2%;
  color: #7a8593; /* Adjust color based on Figma specification */
  margin-bottom: 4px;
}

.amount-value {
  display: flex;
  justify-content: space-between;
  margin-top: 16px; /* Adjust top margin */
}

.amount {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 30.24px;
  color: #001632; /* Adjust color based on Figma specification */
}

.value {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #2ec4b6; /* Change color based on rise or fall */
}
